In [1]:
import pandas as pd

# Load the dataset
df = pd.read_csv('../dataset/raw/Diabetes Adherence Data.csv')

# Shape and sample
print("Shape:", df.shape)
df.head()

Shape: (52616, 41)

,MEMBER,INO,PZTIQNT NZXQ,ADHERENCE,GENDER,PRACTICE NO,DIS,PROVIDER,AS AT NETWORKS,REFERRING PRACTICE,...,DL,CLAIM NO,CLAIM LINE NO,DUPLICATE CLAIM,DUPLICATE CLAIM LINE,OPTION NAME,PAPER/EDI,ASSESSOR NAME,BIRTHDATE,CURRENT AGE
0,98788489,0,XS TZFZDZWZ NYZPIXBI,2,F,860662,60,81302 PLUS TWO PHARMACY,NaN,847321.0,...,N,3285628,7248261,NaN,NaN,STUDYMATE PRIVATE,EDI,CIMAS_HEALTH263 ADMIN,11/7/1999,24
1,98795328,0,XR TSITSIKZYI XUDOTI,7,M,877344,60,92398 CIMAS HCC MUTARE PHARMACY,CIMAS PHARMACIES (2123),866776.0,...,N,2760001,6299632,NaN,NaN,ICARE,EDI,CIMAS_HEALTH263 ADMIN,3/7/1970,53
2,98795328,0,XR TSITSIKZYI XUDOTI,7,M,877344,60,92398 CIMAS HCC MUTARE PHARMACY,CIMAS PHARMACIES (2123),866776.0,...,N,2760001,6299633,NaN,NaN,ICARE,EDI,CIMAS_HEALTH263 ADMIN,3/7/1970,53
3,98795328,0,XR TSITSIKZYI XUDOTI,7,M,877344,60,92398 CIMAS HCC MUTARE PHARMACY,CIMAS PHARMACIES (2123),866776.0,...,N,3052168,6825161,NaN,NaN,ICARE,EDI,CIMAS_HEALTH263 ADMIN,3/7/1970,53
4,98795328,0,XR TSITSIKZYI XUDOTI,7,M,877344,60,92398 CIMAS HCC MUTARE PHARMACY,CIMAS PHARMACIES (2123),866776.0,...,N,3052168,6825160,NaN,NaN,ICARE,EDI,CIMAS_HEALTH263 ADMIN,3/7/1970,53

In [2]:
# Overview of columns and types
df.info()

# Missing values per column
df.isnull().sum().sort_values(ascending=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52616 entries, 0 to 52615
Data columns (total 41 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   MEMBER                52616 non-null  int64
 1   INO                   52616 non-null  int64
 2   PZTIQNT NZXQ          52616 non-null  object
 3   ADHERENCE             52616 non-null  int64
 4   GENDER                52616 non-null  object
 5   PRACTICE NO           52616 non-null  int64
 6   DIS                   52616 non-null  int64
 7   PROVIDER              52616 non-null  object
 8   AS AT NETWORKS        41358 non-null  object
 9   REFERRING PRACTICE    51754 non-null  float64
 10  PAYER NAME            52616 non-null  object
 11  INV REF               52616 non-null  object
 12  SERVICE DATE          52616 non-null  object
 13  ASSESS DATE           52616 non-null  object
 14  DATE RECEIVED         52616 non-null  object
 15  CLM CODE              52616 non-null  int64
 16  CODE DESCRIPTION      52616 non-null  object
 17  UNITS                 52616 non-null  int64
 18  SCRIPT CODE           0 non-null      float64
 19  AMOUNT CLAIMED        52616 non-null  float64
 20  PAID FROM RISK AMT    52616 non-null  float64
 21  PAID FROM THRESHHOLD  52616 non-null  int64
 22  PAID FROM SAVINGS     52616 non-null  int64
 23  RECOVERY AMOUNT       52616 non-null  float64
 24  TOTAL AMOUNT PAID     52616 non-null  float64
 25  TARIFF                52616 non-null  float64
 26  CO-PAY                52616 non-null  int64
 27  PAY TO                52616 non-null  object
 28  REJ                   52616 non-null  object
 29  REV                   52616 non-null  object
 30  AUTH NO               39228 non-null  float64
 31  DL                    52616 non-null  object
 32  CLAIM NO              52616 non-null  int64
 33  CLAIM LINE NO         52616 non-null  int64
 34  DUPLICATE CLAIM       0 non-null      float64
 35  DUPLICATE CLAIM LINE  0 non-null      float64
 36  OPTION NAME           52616 non-null  object
 37  PAPER/EDI             52616 non-null  object
 38  ASSESSOR NAME         52616 non-null  object
 39  BIRTHDATE             52616 non-null  object
 40  CURRENT AGE           52616 non-null  int64
dtypes: float64(10), int64(13), object(18)
memory usage: 16.5+ MB

SCRIPT CODE             52616
DUPLICATE CLAIM LINE    52616
DUPLICATE CLAIM         52616
AUTH NO                 13388
AS AT NETWORKS          11258
REFERRING PRACTICE        862
MEMBER                      0
TOTAL AMOUNT PAID           0
TARIFF                      0
CO-PAY                      0
PAY TO                      0
REJ                         0
REV                         0
CLAIM NO                    0
DL                          0
PAID FROM SAVINGS           0
CLAIM LINE NO               0
OPTION NAME                 0
PAPER/EDI                   0
ASSESSOR NAME               0
BIRTHDATE                   0
RECOVERY AMOUNT             0
PAID FROM RISK AMT          0
PAID FROM THRESHHOLD        0
INO                         0
PZTIQNT NZXQ                0
ADHERENCE                   0
GENDER                      0
PRACTICE NO                 0
DIS                         0
PROVIDER                    0
PAYER NAME                  0
INV REF                     0
SERVICE DATE                0
ASSESS DATE                 0
DATE RECEIVED               0
CLM CODE                    0
CODE DESCRIPTION            0
UNITS                       0
AMOUNT CLAIMED              0
CURRENT AGE                 0
dtype: int64

In [3]:
# Check class distribution
df['ADHERENCE'].value_counts(dropna=False)

# If values are numeric (e.g., 0/1/2/7), convert to binary later

ADHERENCE
12    10980
11    10250
10     8595
9      6513
8      4592
7      3223
6      2423
5      1911
4      1391
3      1038
2       846
1       829
13       25
Name: count, dtype: int64